*{
  margin:0;
  padding:5;
}

body {
    background-image: url("https://image.freepik.com/vector-gratis/patron-sobre-instrumentos-musicales_1172-120.jpg");
}

body{
  background-color: bisque;
  color:   #3d3d5c;
  font-family: 'Spirax', cursive;
}

header {
    background-color: #a06e2c;
    padding: 30px;
    text-align: center;
    font-size: 17px;
    color:  #3d3d5c;
  height: 15px;
}
/* li{
   list-style-type: none;
*/

.panel{
  display: inline-block;
  border-radius: 10px;
  padding: 10px;
  background-color: seagreen;
}
iframe{
  width: 99%;
  height: 200px;
  resize: both;
}
.lista{
  background-color: burlywood;
  display: inline-block;
  width: 40%;
  border-radius: 05%;
  
}
.titulo{
  text-align: center;
}
#banda{
  text-align: center
}
#clasico{
text-align: center
}

footer {
    position:fixed;
    bottom: 0;
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: #3d3d5c;
  width: 100%;
}